<p style="color: #292524; font-size: 16px; line-height: 1.5; margin-bottom: 16px;">
  Вы можете восстановить пароль в течение следующих 15 минут по
  <a href="<%= edit_password_url(@user.password_reset_token) %>" 
     style="color: #d97706; font-weight: 600; text-decoration: underline;">
    ссылке для восстановления пароля
  </a>.
</p>