<nav class="bg-white border-b border-stone-200 fixed top-0 left-0 w-full px-4 py-3 shadow-sm z-40" data-controller="navbar">
  <div class="max-w-7xl mx-auto flex items-center justify-between p-2">
    <a href="<%= root_path %>" class="flex items-center space-x-3">
      <span class="self-center text-2xl font-extrabold text-stone-800 whitespace-nowrap">CraftBook</span>
    </a>
    <button data-action="click->navbar#toggleMenu" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-stone-500 rounded-lg md:hidden hover:bg-stone-100 focus:outline-none focus:ring-2 focus:ring-stone-200" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default" data-navbar-target="menu">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-stone-200 rounded-lg bg-stone-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white">
        <li>
          <%= link_to "Мои проекты", projects_path, class: "block py-2 px-3 text-stone-800 rounded hover:bg-stone-100 md:hover:bg-transparent md:border-0 md:hover:text-amber-600 md:p-0 transition-colors" %>
        </li>
        <li>
          <%= link_to "Аккаунт", user_path, class: "block py-2 px-3 text-stone-800 rounded hover:bg-stone-100 md:hover:bg-transparent md:border-0 md:hover:text-amber-600 md:p-0 transition-colors" %>
        </li>
        <li>
          <%= button_to "Выйти", session_path, method: :delete, data: { confirm: 'Вы уверены?' }, class: "block py-2 px-3 text-stone-800 rounded hover:bg-stone-100 md:hover:bg-transparent md:border-0 md:hover:text-amber-600 md:p-0 transition-colors" %>
        </li>
      </ul>
    </div>
  </div>
</nav>