<div class="flex flex-col bg-white border rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition duration-500 hover:scale-105">
  <%= link_to edit_project_recipe_path(@project, recipe), class: "block h-full" do %>
    <div class="p-2 flex justify-center">
      <div class="flex items-center justify-center w-full h-32 bg-gray-200 rounded-md">
        <span class="text-4xl font-bold text-gray-600"><%= recipe.name[0..1].upcase %></span>
      </div>
    </div>
    <div class="px-4 pb-3">
      <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
        <%= recipe.name %>
      </h5>
    </div>
  <% end %>
</div>