<div class="min-h-screen flex items-center justify-center bg-stone-50 p-4">
  <div class="relative mx-auto w-full max-w-md bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-stone-200 sm:rounded-xl sm:px-10">
    <div class="w-full">
      <div class="text-center">
        <h1 class="text-2xl font-extrabold text-stone-800">Восстановление пароля</h1>
      </div>
      <div class="mt-5">
        <%= form_with url: passwords_path do |form| %>
          <div class="relative mt-6">
            <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Электронная почта", class: "peer mt-1 w-full border-0 border-b-2 border-stone-200 bg-transparent placeholder:text-transparent focus:border-amber-600 focus:outline-none focus:ring-0 text-stone-800", value: params[:email_address] %>
            <label for="email_address" class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-stone-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-stone-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-amber-600">Электронная почта</label>
          </div>
          <div class="my-6">
            <%= form.submit "Отправить", class: "w-full rounded-md bg-amber-600 px-3 py-4 text-white font-semibold hover:bg-amber-500 focus:bg-amber-500 focus:outline-none transition-colors cursor-pointer" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>